<section class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" fxLayout="column" fxLayoutAlign="center center"
        fxLayoutGap="10px">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Your email"
        formControlName="email"
      >
      <mat-error *ngIf="!loginForm.get('email').hasError('required')">E-mail is invalid</mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">Field should not be empty</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
        matInput
        type="password"
        placeholder="password"
        formControlName="password"
        #passwordInput
      >
      <mat-hint align="end"> {{passwordInput.value?.length}}/6</mat-hint>
      <mat-error>Has to be at least 6 characters long</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    <div fxLayoutAlign="center center" *ngIf="isLoading$ | async">
      <mat-spinner></mat-spinner>
    </div>
  </form>
</section>
