<section class="new-training" fxLayoutAlign="center center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px" fxLayoutAlign="center center" fxLayout="column">
      <mat-card-title>
        Time to start a workout!
      </mat-card-title>
      <mat-card-content>
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises$ | async">
          <mat-label>Select Exercise</mat-label>
          <mat-select matNativeControl required ngModel name="exercise">
            <mat-option
              *ngFor="let exercise of exercises$ | async"
              [value]="exercise.id">
              {{exercise.name | titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoading$ | async)">
        <button type="submit" mat-button [disabled]="f.invalid" *ngIf="exercises$ | async">Start</button>
        <button type="button" (click)="fetchExercises()" mat-button *ngIf="!(exercises$ | async)">Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
