<mat-nav-list>
  <a mat-list-item routerLink="./signup" (click)="onCloseSideNav()" *ngIf="!(isAuth$ | async)">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="./login" (click)="onCloseSideNav()" *ngIf="!(isAuth$ | async)">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>

  <a mat-list-item routerLink="./training" (click)="onCloseSideNav()" *ngIf="isAuth$ | async">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Trainings</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="isAuth$ | async">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
