<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="flex-end center">
    <button mat-icon-button (click)="onToggleSidenav()" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
    <div><a routerLink="/">NG Fitness</a></div>
  </div>
  <div fxHide.xs>
    <ul fxLayout fxLayoutGap="10px">
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="./signup">Signup</a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="./login">Login</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="./training">Trainings</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
