<section class="signup-form">
  <form
    fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
    (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="email"
        placeholder="Your email"
        ngModel
        name="email"
        required
        #emailInput="ngModel"
      >
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field should not be empty</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
        matInput
        type="password"
        placeholder="password"
        ngModel
        name="password"
        minlength="6"
        required
        #pwInput="ngModel"
      >
      <mat-hint align="end">{{pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Your Birthday"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthdate"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button *ngIf="!(isLoading$ | async)" type="submit" color="primary" mat-raised-button [disabled]="!f.valid">
      Submit
    </button>
    <div fxLayoutAlign="center center" *ngIf="isLoading$ | async">
      <mat-spinner></mat-spinner>
    </div>
  </form>
</section>
