mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 250px;
    height: 100%;

    .nav-caption {
      display: inline-block;
      padding-left: 6px;
    }
  }

  mat-sidenav-content {
    height: 100%;

  }
}
